<div class="container">
  <div class="d-flex justify-content-between about-block">
    <div style=" padding-top: 70px; padding-bottom: 70px;">
    <%= image_tag("https://res.cloudinary.com/dduochwyb/image/upload/c_mpad,q_100:420,w_400/v1562135126/My%20Website%20photos/IMG_0629_swwn53.jpg", class: 'first-photo p-2 bd-highlight') %>
    <p class="caption p-2 bd-highlight d-flex justify-content-center">
        <span class="caption-text">Demo Day</span>
      </p>
    </div>
    <div>
      <p class="first-about-p"> <span class="hello-world">Hello!</span><br> Im Paulo, A Ruby on Rails developer Based in Tokyo. Curious about Science, Technology and Astronomy. Originally from Guatemala City, Where i used to work as a Customer Service Supervisor.<br><br> I used to help people to fix their phones, and was a job that required lots of patience. but while others were complaning about their job i was learning that help others makes people feel happier, So now being a developer i want make my skills grow while I help people with great ideas and their businesses to keep their expansion.</p>
    </div>
  </div>
  <div class="d-flex justify-content-between about-block">
    <div>
      <p class="second-about-p">Since a kid, I've always been passionate about tech, and wanted to become a developer, but I didn't have the chance to finish secondary school back in my country.<br><br> In Tokyo, I started to work on construction, but felt like that job was not for me, and decided to become what I always wanted, and after 9 weeks at Le Wagon coding bootcamp I had the best experience of my life, and met amazing people, at the end I became a Ruby on Rails Developer, with knowledge of javaScript, Bootstrap, SQL, SQLite, PostgreSQL, Geocoding.<br><br> <span class="contact-invitation">Let's get in touch!</span></p>
    </div>
    <div>
      <%= image_tag("https://res.cloudinary.com/dduochwyb/image/upload/c_mpad,w_400/v1562135126/My%20Website%20photos/IMG_0647_d4oczr.jpg", class: 'second-photo p-2 bd-highlight', title: "Edit Entry") %>
      <p class="caption p-2 bd-highlight d-flex justify-content-center">
        <span class="caption-text">Le Wagon's Batch #252, Tokyo</span>
      </p>
    </div>
  </div>
</div>

<script>
  ScrollReveal({ reset: true });
  ScrollReveal().reveal('.first-about-p', { delay: 150 });
  ScrollReveal().reveal('.first-photo', { delay: 500 });
  ScrollReveal().reveal('.caption', { delay: 550 });
</script>
