<%= link_to(project_path(project), id: project.id ) do %>
 <div class="cards-container">
    <img src="<%= project.photos.first %>" class="card-image" style="width:100%">
      <div class="middle">
        <div class="text <%= project.title.downcase.gsub(" ", "-") %>"><%= project.title %></div>
      </div>
  </div>
<% end %>

<script>
  ScrollReveal({ reset: false });
  ScrollReveal().reveal('.cards-container', { delay: 150 });
</script>

