<div class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-sm social-icon">
        <%= link_to( image_tag('github-sign.svg'), 'https://github.com/DarkDante27') %>
      </div>

      <div class="col-sm social-icon">
        <%= link_to( image_tag('linkedin.svg'), 'https://www.linkedin.com/in/pauloovallerivera') %>
      </div>

      <div class="col-sm social-icon">
        <%= link_to( image_tag('instagram.svg'), 'https://www.instagram.com/darkdante28') %>
      </div>

      <div class="col-sm social-icon">
        <%= link_to( image_tag('twitter.svg'), 'https://twitter.com/josepauloovall3') %>
      </div>

    </div>
  </div>
</div>

