<%= render 'navbar' %>
<div class="container d-flex flex-column bd-highlight mb-3 head-container">
  <h1 id="main-header">Paulo Rivera</h1>
  <%= image_tag 'pp.jpg', id: 'header-avatar' %>
  <h2 class="main-header-sub">Full-Stack Web Developer</h2>
  <p class="main-header-p">Based in Tokyo, persuing my dream to become a great developer and help people with their businesses!</p>
  <div class="more-button-div">
  <%= link_to image_tag("more_arrow.svg", anchor: "projects_div", class: 'more-button') %>
  </div>
</div>
 <div class="container projects-div">
  <h3 id="projects" class="main-header-sub">Projects</h3>
  <div class="row">
    <div class="col">
      One of three columns <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora libero, est nobis? Ea officia eligendi quidem ad dolores reprehenderit eveniet cumque illo, nesciunt numquam aut quas dolore, eos blanditiis quia.</div>
      <div>Praesentium natus, sed. Quia incidunt, magni et sapiente voluptatibus ipsam ullam, quidem eaque reprehenderit architecto odit. Ex aliquid eum nesciunt fugit quidem praesentium, assumenda aperiam impedit reprehenderit, incidunt, quis dolorem.</div>
      <div>Beatae explicabo quidem optio earum, non voluptatem incidunt sed, possimus vero voluptates laborum aut ex voluptatum ab iste quisquam magni doloremque iure at reiciendis corporis quia dolor! Voluptatem, consectetur, hic.</div>
      <div>Vero harum, perferendis officia veritatis eveniet fugiat eum rerum maiores sit eligendi, praesentium, a molestias. Recusandae rem nihil suscipit dicta incidunt, maiores veritatis minus rerum dolorum, atque ipsum. Excepturi, ut?</div>
      <div>Quos dolores sed vel itaque, officia sunt facilis dolore. Iure fugit assumenda eaque deleniti, est at temporibus quasi nam numquam doloremque illo dolor et, aspernatur eveniet natus nobis quia minus?</div>
      <div>Eos accusantium nemo nulla totam harum, quas sapiente repellendus libero, culpa dolore et iste sint architecto fugit fuga in vitae tempora deleniti suscipit iure quisquam incidunt nam expedita! Aspernatur, enim.</div>
      <div>Pariatur dignissimos in numquam consequatur possimus fugit nisi! Repellat nulla deleniti mollitia reprehenderit tempore recusandae voluptates praesentium? Necessitatibus, possimus aspernatur doloribus magni consequuntur, perspiciatis facere quam alias deleniti quos eius.</div>
      <div>Iste veritatis obcaecati, reprehenderit quo inventore blanditiis architecto odio, facere libero nam odit a, ut et qui nihil, iure ad minus! Ullam sequi eligendi nisi explicabo possimus voluptate voluptates labore.</div>
      <div>Maxime quod non, laborum at illo, ipsum ducimus omnis error perferendis soluta tempore, quo a accusantium quaerat. Eveniet, reprehenderit. Iusto harum ut fugit, ipsam illo aliquid itaque tenetur sint ex.</div>
      <div>Perspiciatis reiciendis corporis fugiat incidunt quisquam quia, sequi omnis blanditiis sed est placeat commodi nisi consequuntur minus libero quo neque impedit quasi ratione dicta modi. Nulla repellendus quis, nostrum facere.</div>
      <div>Officiis minima nostrum ab earum, magnam accusamus laudantium, quisquam ullam, possimus voluptatibus porro at eaque dignissimos, facilis. Excepturi, qui maxime, unde neque debitis earum ad quod placeat ea. Minus, dicta.</div>
      <div>Blanditiis dolorum quo perspiciatis officiis modi! Quidem incidunt commodi, totam adipisci at, sit dolores quia nisi omnis nobis ut repudiandae aspernatur pariatur iure eaque laborum reprehenderit vitae earum officia. Dolores.</div>
      <div>Iusto, error, reprehenderit! Aliquid aut veritatis itaque minus! Suscipit ut dolorem laborum minus ullam incidunt praesentium esse, neque est sapiente, ipsa possimus non nostrum numquam, veniam ex impedit officiis illo.</div>
      <div>Pariatur rerum, quos veniam laudantium, ipsum laboriosam placeat, aspernatur assumenda non eaque fugit, cumque itaque beatae ipsa doloremque aperiam. Tempore, vero. Voluptate, unde, accusantium. Officiis cupiditate ducimus quibusdam non facere!</div>
      <div>Velit atque facilis tenetur fugiat accusamus necessitatibus non dolore eveniet veniam sint beatae sunt perferendis nemo distinctio neque quisquam, harum eos aut quos aperiam culpa nisi esse unde porro. Aperiam!</div>
      <div>Assumenda fugit, voluptatibus. Earum officia deserunt sequi? Omnis quibusdam aliquid suscipit quae quisquam harum quis voluptates molestias molestiae consequuntur temporibus sapiente, incidunt eaque voluptatum magni, quos autem vel minima illum!</div>
      <div>Sit eveniet quia voluptatibus, fugit voluptatem vitae. Accusantium ex maxime eius labore ipsa nesciunt tenetur harum quo quos temporibus nulla sint animi dolorem ullam tempore tempora, ratione incidunt. Quam, distinctio.</div>
      <div>Nulla, sed odit, nihil voluptatem eum doloremque, culpa alias vitae odio, asperiores nemo illum possimus at autem deserunt eaque est reprehenderit molestiae earum repudiandae quibusdam! Velit aliquid quasi possimus magni.</div>
      <div>Quas ea ab possimus distinctio a, id dignissimos minima minus maxime incidunt at fugiat ratione magnam dolorum voluptatem nesciunt blanditiis iste quis error praesentium modi sunt, animi. Officiis, doloremque, consectetur.</div>
      <div>Magni nobis quod molestiae corporis expedita labore nisi a vel, soluta, exercitationem ab qui nulla! Maiores beatae, est libero, iure nulla fuga ad suscipit culpa itaque nesciunt quam. Ut, vitae!</div>
      <div>Ea unde dolorem, nobis, nostrum accusamus ut perferendis exercitationem quam aperiam expedita. Dolorum, neque, in! Amet velit, itaque obcaecati recusandae ex aut impedit nisi tempore voluptatibus. Molestiae, in neque laboriosam!</div>
      <div>Vel quia ipsa rerum, doloribus eius nostrum corporis velit quis aut officia et vero atque, quidem saepe. Voluptatem cupiditate, nihil odio saepe nostrum ipsum fuga quia, nisi suscipit autem asperiores.</div>
      <div>Laborum beatae sunt tempore natus nihil numquam ad a hic quas voluptas neque omnis illo dolorem eius, distinctio iste eum ipsa delectus unde architecto! Provident tenetur eum velit a ipsa!</div>
      <div>Distinctio, similique sint. Accusantium, vitae inventore velit, at ipsam delectus quam ipsum obcaecati iste recusandae harum eaque. Repellendus nihil, obcaecati unde, aspernatur dicta molestias ut! Maxime reiciendis cupiditate architecto, dolore.</div>
      <div>Quaerat explicabo adipisci incidunt amet eveniet animi similique illum fugit distinctio dolorum nesciunt neque vero est rem laborum libero corporis iure eligendi praesentium odio debitis aperiam, porro maxime eum. Voluptates!</div>
      <div>Eaque deleniti libero cumque accusantium odio incidunt saepe facere veritatis maiores quae inventore totam molestias, voluptatem, temporibus. Officia voluptate consequuntur facilis ad nulla sit aut deserunt, rem impedit animi cupiditate.</div>
      <div>Itaque placeat molestiae quod. Quibusdam dolores, minima perferendis vero eius atque. Suscipit atque in, nemo assumenda perferendis! Ex omnis error, quis! Commodi nihil excepturi similique, harum laborum porro nam architecto.</div>
      <div>Dicta impedit modi rerum! Optio sunt labore placeat inventore eveniet, maiores enim quod eligendi voluptas explicabo quo veritatis consequatur perferendis consectetur eum voluptate dolorum maxime cumque ad, similique vitae repellat.</div>
      <div>Eum odio, veritatis voluptatem harum provident aperiam odit commodi voluptas, laudantium nesciunt numquam assumenda et perspiciatis ducimus nemo, ea doloribus atque explicabo cupiditate consectetur consequuntur cum porro quisquam? Ipsam, officiis.</div>
      <div>Repellendus enim, quas odit modi deserunt esse quos, aliquid earum sed, cumque aperiam laudantium. Sunt quo nostrum, error autem voluptatum. Deserunt et perferendis sed, corporis excepturi eos provident odit veniam.</div>
      <div>Accusamus vitae, error dolore, tempore incidunt, quisquam perferendis esse commodi soluta, consectetur possimus facere vel quis! Facere laborum vitae assumenda, asperiores libero eveniet veniam quas blanditiis, optio sint iure perspiciatis?</div>
      <div>Illo laboriosam facere voluptates vero sunt aspernatur! Mollitia enim quaerat quas, sunt reiciendis natus exercitationem architecto, veritatis voluptates temporibus beatae dolore, illo quam dicta veniam impedit magni error facilis neque!</div>
      <div>Omnis tenetur necessitatibus culpa, corporis fugiat fugit. Aut ut debitis nulla eos dolor quis, magni sequi temporibus facilis aliquid similique sapiente perspiciatis distinctio modi itaque placeat sunt deserunt, repudiandae cumque!</div>
      <div>Ea, dolor incidunt eum. Numquam nam at iusto veniam quis obcaecati amet, dolores fuga delectus adipisci incidunt possimus id? Magnam ratione earum nam. Consectetur similique sit recusandae facilis, ipsam architecto.</div>
      <div>Itaque placeat a quae ullam porro, doloribus, officia inventore nisi ipsum perspiciatis ratione necessitatibus sit, deleniti amet, ea impedit quisquam aperiam ad blanditiis ipsa voluptatibus! Vitae nostrum quas veritatis nisi.</div>
      <div>Adipisci iure architecto odit illum reiciendis delectus at dolorum, illo laudantium unde eaque possimus aperiam et ea dolorem vitae voluptates commodi iusto eligendi ab, alias repudiandae quod cumque esse. Culpa.</div>
      <div>Architecto sint neque hic illum dignissimos magni distinctio, unde ratione aspernatur beatae, quo repudiandae quos quibusdam incidunt id minus error corporis cumque voluptatem, dicta eaque? Atque blanditiis iusto, mollitia autem!</div>
      <div>Non voluptatibus laudantium fuga, accusantium natus quod libero dolorem fugiat similique minus quisquam qui aliquam laborum nemo dolor suscipit tenetur velit tempora! Nihil voluptate magnam, modi, quaerat nesciunt repudiandae! Esse.</div>
      <div>Repellendus nihil perspiciatis, necessitatibus voluptatum voluptas eligendi dolore alias tempore quas ex ea qui fugiat consequuntur sint deserunt totam tenetur laboriosam veritatis quis eius est ullam labore. Maiores expedita, dolor.</div>
      <div>Quidem qui amet consequatur, earum at labore dolor obcaecati laboriosam. Et quidem officiis, provident rerum, quibusdam eos nisi eveniet eligendi incidunt voluptas fugit, animi beatae veritatis non fuga dolorum ad.</div>
      <div>Tenetur odio illo delectus voluptas inventore, nihil ratione sint eligendi. Obcaecati dolores corporis incidunt inventore placeat optio sunt odit quibusdam veniam vitae rerum, excepturi sint voluptatibus unde, nobis quaerat molestiae.</div>
      <div>Obcaecati earum, asperiores, at et voluptas ut eum, deleniti praesentium temporibus perferendis modi. Ipsa sed consequatur quibusdam eveniet, impedit, repellendus saepe unde illo hic, numquam dolorum, reprehenderit fugit tempora eius.</div>
      <div>Eos sed ratione doloribus nisi, eius necessitatibus libero minima iste, ea dolorem aliquid, est atque tenetur magni vero magnam vitae dolor ipsam molestias placeat porro quasi eum architecto recusandae. Animi.</div>
      <div>Harum id quos cum, nam voluptatem illo reprehenderit voluptates animi vero earum sunt temporibus obcaecati aliquam a totam ipsam, odio quas! Eveniet, voluptate quo voluptates nam rerum animi sapiente recusandae!</div>
      <div>Veniam dolores dicta ducimus libero, reiciendis, sapiente soluta sit ipsa aliquid, magnam ea. Facere debitis quas molestiae autem, sit, voluptate nisi atque perspiciatis quisquam sed minus id. Magni, ratione quae.</div>
      <div>Reprehenderit accusamus, earum repellendus, assumenda, ratione porro aspernatur asperiores fuga dolorum accusantium suscipit, ducimus dignissimos mollitia! Aliquam aliquid sit quos fuga deserunt consequuntur unde eaque quam mollitia officiis, odit aut.</div>
      <div>Eligendi vitae animi aspernatur placeat quidem repellendus quos voluptatem at iste. Nostrum aut voluptatum, ut odio consequuntur nihil accusamus dolore quaerat error magnam! Praesentium optio, consectetur fugiat repellat quos obcaecati!</div>
      <div>Nulla, molestias mollitia modi. Labore, vero! Nesciunt odit, sapiente consectetur autem aliquam alias necessitatibus ipsam. Quia ratione architecto similique culpa nesciunt iste, impedit dolor, mollitia atque suscipit pariatur cumque eveniet.</div>
      <div>Quos, iste enim. A eligendi veritatis, dignissimos tempora. Recusandae officia quam neque, adipisci consectetur voluptas odit quos odio iure, aliquam facere soluta velit suscipit sunt delectus voluptatibus excepturi, explicabo necessitatibus.</div>
      <div>Quae, magni, aliquam. Harum fugiat, veritatis aut voluptate iure delectus! Eveniet repellendus aliquam necessitatibus optio dolores voluptatem molestiae incidunt neque eaque? Libero maxime dicta ratione recusandae quae quam, delectus, magnam!</div>
      <div>Ut cupiditate, nam voluptatem alias modi quia nisi vero obcaecati voluptatibus aperiam velit facilis voluptatum neque nihil aliquid ex, earum, id officiis deleniti adipisci maiores libero. Saepe minima pariatur possimus.</div>
      <div>Cum saepe libero expedita magni molestias sit rem quisquam fuga consectetur, illum ut. Adipisci culpa aperiam non, maxime fuga nihil doloremque quaerat atque, ullam, aspernatur itaque voluptatum distinctio facilis rem.</div>
      <div>Molestias veritatis ipsa odit maiores accusamus dicta excepturi laboriosam earum recusandae, blanditiis doloremque vel sint veniam deserunt natus sunt ex et dolorum ducimus quae nam distinctio. Accusantium doloribus a ullam.</div>
      <div>Dignissimos ex possimus praesentium aut ad, odio voluptates placeat recusandae repudiandae pariatur dolores mollitia, quidem, suscipit dolor vero ipsum! Recusandae tempore minima numquam ullam provident asperiores vitae, fugit dicta quo!</div>
      <div>Tenetur eum vel minus non illo qui quae cumque earum maxime ab, eos alias, voluptatum. Aut quasi, officiis similique odit, voluptatibus autem placeat ipsa repudiandae laborum ab cum nam error.</div>
      <div>Sapiente, maxime veritatis dolores inventore debitis, nobis doloremque quos et autem rem a nulla neque tenetur minima pariatur ullam! Debitis autem, vero? Fugit officiis dolorum, temporibus ea deleniti esse nulla!</div>
      <div>Officia beatae, dolorem laboriosam aut rem suscipit, sequi amet tempora voluptatem quidem id consequatur. Eius eligendi ad, fugit voluptatum alias repellat incidunt magnam. Perferendis hic dolor distinctio optio nemo excepturi!</div>
      <div>Qui ab magni et debitis officiis quibusdam tenetur quas pariatur in quis, cumque neque porro iure? Impedit at facilis tempore inventore quisquam, quibusdam quos exercitationem laboriosam est nihil tempora quod.</div>
      <div>Fuga accusantium officiis, aliquam, consectetur animi, voluptatum iste labore esse deleniti, perferendis eius facere totam! Placeat est veniam provident sapiente laboriosam. Voluptatibus iusto debitis mollitia exercitationem dolores error magnam! Illum.</div>
      <div>Voluptates magnam placeat quo dolorum ut, perspiciatis a, nobis ab possimus at. Sunt incidunt, molestias, quam rerum tempora vero dolores iure corrupti officiis ad architecto quod! Non et, officia incidunt.</div>
      <div>Animi culpa reiciendis vero veritatis at sit eligendi optio quam. Eveniet illum minus laborum, quidem itaque, fugit commodi consequatur omnis asperiores atque pariatur quibusdam optio placeat modi nulla possimus provident.</div>
      <div>Ex sit laudantium tempore vel cupiditate facilis commodi, dolores, nulla minima velit a nobis iure quaerat unde, earum molestias optio voluptate! Tempora sit nihil officia ducimus eaque dolor illum libero.</div>
      <div>Blanditiis est sunt libero tempora labore fuga alias quidem rerum, a sapiente impedit ipsam earum tempore, necessitatibus aspernatur odit culpa molestiae facilis asperiores. Architecto repudiandae atque nostrum quo placeat laborum?</div>
      <div>Pariatur quam aspernatur accusamus quisquam aperiam culpa alias sed temporibus aliquid autem. Vero delectus, quaerat nam voluptates, suscipit deleniti quas animi similique ex dolores veniam, laboriosam harum laudantium ea mollitia.</div>
      <div>Fuga excepturi reiciendis doloribus? Rerum tempora quod fugit eum placeat repudiandae aspernatur, recusandae cum, maxime quisquam, ab quo incidunt at earum quasi suscipit nihil laudantium. Nam provident, earum non reprehenderit!</div>
      <div>Sint expedita, sit quam officia, non nobis rerum reprehenderit placeat voluptate eos molestias odio cumque veritatis vel sapiente ea nisi aperiam tempora temporibus iste optio doloribus reiciendis corporis dignissimos. Ad!</div>
      <div>Odio, sed totam quo asperiores aspernatur corrupti quae, quam culpa, in reprehenderit soluta fugiat incidunt qui quaerat placeat dolore atque nisi praesentium ab obcaecati repellendus. Sapiente quod quidem maiores, veniam.</div>
      <div>Esse ad, deserunt laborum ea at qui quia nemo eius maiores. Amet fugit laudantium nesciunt enim odit sequi nulla vel, facere laborum ullam deserunt, eligendi voluptas, adipisci incidunt, labore atque?</div>
      <div>Consequuntur, eveniet, perferendis! Rerum mollitia totam hic ipsum quas error earum ipsam iusto tempore libero nobis qui quia id architecto aliquam illo, aliquid, omnis ducimus modi minus quod quae ratione.</div>
      <div>Perspiciatis aliquam, nobis esse repudiandae voluptatibus, qui voluptatum quia maxime, vitae accusamus pariatur odio atque, tenetur accusantium assumenda. Sapiente consequuntur magni libero harum, quos sequi, debitis natus dolorum quaerat illo.</div>
      <div>Minus sit amet laboriosam expedita illo provident unde tempora, numquam recusandae modi sed inventore odio facere hic dolores culpa harum aut officia aperiam. Minima voluptatibus, earum ducimus ipsam ab deleniti?</div>
      <div>Rem excepturi magnam tempora cupiditate minima autem labore! Sunt expedita error voluptates debitis fugiat eum pariatur nemo reprehenderit perspiciatis quis fuga perferendis nam nobis aperiam nostrum consequuntur, placeat quia maxime!</div>
      <div>Iure deleniti fugiat recusandae laudantium distinctio eaque fuga itaque iusto voluptate voluptas impedit vero sed placeat numquam veritatis nulla quae, dolor ab in modi voluptatem delectus. Eum harum ut tempora.</div>
      <div>Quasi itaque architecto ullam sapiente illum dignissimos iste rem temporibus dolore explicabo earum quae pariatur accusamus error in, incidunt, odio, delectus porro eaque quaerat at. Sapiente ea laboriosam, aliquam hic.</div>
      <div>Aut nobis, soluta repudiandae explicabo dolorum dolores consequatur commodi officiis, suscipit laborum fugiat iure sed. Nemo quaerat omnis tenetur quas ut velit, quis exercitationem nobis deserunt fugiat, molestias. At, quas.</div>
      <div>Modi magnam illo delectus, iusto tempore cum quaerat magni porro. Perferendis alias, expedita molestiae, eos tenetur officia id deleniti, quaerat, saepe culpa dolores numquam voluptatum sunt. Non quis eius a.</div>
      <div>Laboriosam ipsum saepe, nemo quia, corporis maxime, cupiditate culpa cumque, obcaecati ipsa dolor. Harum alias, illum nemo nulla commodi saepe voluptate esse, debitis quod iure, fugit officiis sed aut incidunt?</div>
      <div>Molestiae hic ducimus exercitationem recusandae temporibus aperiam quibusdam dolore atque amet excepturi. Nulla aliquam quam voluptate ex placeat, ratione repellat, perferendis. Totam, nobis quibusdam consequuntur, reprehenderit explicabo excepturi. Corporis, numquam!</div>
      <div>Dolore animi tempore, ducimus hic architecto error provident minus esse dolorum maxime placeat iure ea vero impedit quasi aut! Modi molestiae id explicabo tempore numquam consectetur possimus eos impedit earum?</div>
      <div>Ratione atque minus ullam eligendi reiciendis, exercitationem esse eius beatae molestias eaque, est quibusdam voluptatibus natus recusandae? Alias ipsa neque laudantium, ab quibusdam sapiente perferendis eveniet blanditiis. Consequatur, magni, in.</div>
      <div>Amet, autem modi distinctio soluta assumenda enim nostrum illo nisi eligendi illum maiores commodi quibusdam, sunt doloribus ipsam porro numquam obcaecati nesciunt, quae consequuntur eos natus expedita. Inventore, quibusdam, perferendis.</div>
      <div>Reiciendis laborum repudiandae sint provident temporibus perspiciatis debitis voluptatibus impedit porro dicta, saepe consectetur commodi quis quibusdam neque nostrum eaque fugiat incidunt nisi illo labore voluptatum. Quos quaerat atque quae!</div>
      <div>Quia autem rem ipsam dolorum. Ut porro quia aspernatur perferendis possimus pariatur placeat aperiam, voluptatibus velit eaque quaerat ducimus in distinctio libero. Sed, excepturi eos velit voluptates sit dolorem cupiditate.</div>
      <div>Rerum veniam inventore alias a harum deleniti impedit facilis quia sed dolorem magnam animi quasi modi voluptates vitae distinctio illum qui cumque tenetur fugit, ea esse iure quo. Incidunt, iste.</div>
      <div>Maiores enim distinctio at eveniet aliquid, cupiditate tempore ullam voluptas repellendus, minus ex natus dignissimos amet unde eos itaque. Natus consectetur odit earum saepe officia, nesciunt doloribus omnis pariatur possimus?</div>
      <div>Quaerat ut delectus nulla omnis doloribus id accusantium consequatur similique quae? Provident assumenda, est deserunt voluptatum dolorum deleniti quas mollitia natus cum, veniam, laudantium nisi quos sequi iusto enim delectus.</div>
      <div>Itaque magnam, provident consectetur est maxime fuga quaerat cumque repudiandae recusandae, aut perferendis alias distinctio, quo odit laudantium. Doloribus accusantium qui quam voluptatem possimus sequi suscipit quod ratione commodi. Est.</div>
      <div>Quam quia, molestiae tenetur, et mollitia inventore, neque perferendis dolor eum doloremque ut veniam eaque nemo, accusantium velit quae magni consequatur harum voluptatem corporis laudantium optio cupiditate. Alias, laboriosam, consequatur.</div>
      <div>Delectus nobis iure laudantium, aliquam, ipsam laborum sequi minima molestias non saepe labore! Pariatur placeat voluptas quis. Non, itaque, nulla officiis excepturi tenetur accusamus. Adipisci cumque tenetur mollitia impedit omnis!</div>
      <div>Animi blanditiis repudiandae, deleniti sed voluptates modi vitae asperiores mollitia incidunt, facilis beatae dolores, cumque delectus assumenda excepturi earum. Adipisci similique tempore, aliquam! Adipisci, hic libero nisi consequatur, soluta rem?</div>
      <div>Dolorem illum maxime soluta error sit eius quasi, rem quidem, iste beatae ratione! Numquam dolorem magni facere, commodi tempore, assumenda sit magnam nisi nostrum fuga impedit, id esse necessitatibus recusandae?</div>
      <div>Magni qui, delectus minima fuga est, suscipit necessitatibus perferendis unde ducimus inventore quibusdam. Hic nisi quae quas sapiente distinctio exercitationem animi minima perspiciatis laborum quos. Perferendis corporis qui expedita voluptate?</div>
      <div>Odio facilis officiis porro iusto explicabo qui eaque, assumenda, quae iste impedit magnam tenetur ab atque doloribus, esse reprehenderit magni velit labore, autem! Excepturi porro, cum accusamus ea dignissimos vitae!</div>
      <div>Facilis dicta voluptate placeat iure quasi obcaecati eveniet, reiciendis, pariatur, debitis aut architecto officiis blanditiis voluptatibus ipsum nihil asperiores magni. Dolorum recusandae possimus, distinctio tenetur expedita accusamus, tempore excepturi iusto.</div>
      <div>A amet, laudantium eos sed minima, non placeat debitis dolor iste, distinctio atque. Maxime corporis minus voluptatibus iure, fugit at! Incidunt impedit placeat cum voluptas saepe cupiditate natus, laboriosam porro.</div>
      <div>Quia possimus vel autem dolorum cumque soluta natus, labore, quibusdam ea doloribus! Natus eius iste, et dicta enim, consequatur porro debitis excepturi consectetur eveniet deleniti sapiente quo modi dolores distinctio?</div>
      <div>Dolores recusandae iusto temporibus ad iste? Totam accusamus expedita a exercitationem consequuntur, facilis optio ratione, quisquam. Inventore aspernatur minus sapiente veniam! Eligendi commodi, officia voluptas? Ipsa eveniet dignissimos tempore, reiciendis.</div>
      <div>Culpa quam, fugit vero, eveniet rerum similique voluptas dignissimos dicta natus nisi perferendis in quaerat esse! Soluta est, consequuntur officia laboriosam iste dolorum architecto eos alias natus, officiis, placeat molestias.</div>
      <div>Voluptatum totam qui officiis quisquam facilis unde, quos quaerat deleniti! Placeat libero pariatur consequatur est voluptatem, cupiditate quos quaerat aliquam soluta, cumque eius sed eveniet alias harum, sint eaque porro.</div>
      <div>Rerum repellendus fugiat impedit nobis aliquam quod laborum dicta odit debitis sequi architecto sit deleniti vel atque nam, nemo, nihil eos eius dolorum id, eveniet at dolor necessitatibus nesciunt ad.</div>
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
    <div class="row">
      <div class="col">
        dasdsad
      </div>
      <div class="col">
        text
      </div>
    </div>
</div>
