.more-button {
  height: 50px;
  width: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}

#more-button {
  text-decoration: none;
  text-align: center;
  padding: 8px;
}

#more-button a {
  color: #6c757d;
    &:hover {
   color: #4C4C4C;
   text-decoration: none;
  }
}

#projects-link {
  text-decoration: none;
  text-align: center;
  padding: 8px;
}

#projects-link a {
  color: #6c757d;
  &:hover {
  color: #4C4C4C;
  text-decoration: none;
  }
}

.social-icon img {
  height: 150px;
  width: 150px;
}

.contact-section {
  margin-bottom: 50px;
  margin-top: 50px;
}
