.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// .home-card-light {
//   height: 430px;
//   width: 720px;
//   background-size: contain;
//   background-repeat: round;
//   margin-right: auto;
//   margin-left: auto;
//   &:hover {
//   height: 430px;
//   width: 720px;
//   background-size: contain !important;
//   background-repeat: round !important;
//     background: linear-gradient(
//       rgba(23,34,40,0.5),
//       rgba(13,23,54,0)
//       ) !important;
//   }
// }

.projects-div {
  margin: 0px;
}

.index-card-link {
  text-decoration: none;
 &:hover {
  text-decoration: none;
  }
}
.home-card-light {
  position: relative;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}

.home-card-light:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(34,67,12,80.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.home-card-light img {
  display: block;
  height: 430px;
  width: 750px;
}

.card-title {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
