.head-container {
  align-items: center;
}

#main-header {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.main-header-sub {
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  color: #666666;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

 h2.main-header-sub {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }

#header-avatar {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.main-header-p {
  font-size: 22px;
  color: #666666;
  font-family: 'Roboto', sans-serif;
}

.hello-world {
  color: #552288;
  font-size: 30px;
}

.first-about-p {
  margin-bottom: 30px;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  margin-left: 200px;
  text-align: left;
  font-size: 19px;
}

.second-about-p {
  margin-bottom: 30px;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  margin-right: 200px;
  text-align: left;
  font-size: 19px;
}

.first-photo {
  width: 500px;
  height: auto;
  padding-bottom: 120px;
  padding-top: 100px;
}

.second-photo {
  width: 500px;
  height: auto;
  padding-bottom: 120px;
  padding-top: 100px;
}

.caption {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}

.about-block {
  margin-top: 75px;
  margin-bottom: 75px;
}

.contact-invitation {
  margin-bottom: 30px;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 26px;
  font-weight: bolder;
}
